#nav-bar {
  /* position:fixed; */
  background-color: #283618;
  height: 120px;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 5;
}

#nav-bar .logo {
  float: left;
  color: #FFFF;
  line-height: 120px;
  font-family: Bungee ;
  font-size: xx-large;
}

#nav-bar .header {
  float: right;
  flex-direction: flex-end;
  color: #FFFF;
  font-family: Source Sans Pro;
  font-size: large;
  margin-top: 50px;
  
}


#arrow-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  align-items: flex-end;
}