.new-tweet {
  border: none;
  flex-flow: row wrap;
  
}

.hidden {
  display: none; 

}

.container {
  margin: auto;
}

body {
  background-color: #ffe8d6;
}



textarea {
  display: block;
  width: 100%;
  border-bottom: 5px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;

}

#incoming-tweet {
  display: block;
}

#tweet-button {
  font-family: Bungee;
  background-color: #3d405b;
  color: aliceblue;
  margin-top: 10px;
}

#notification {
  border: 2px solid red
}

#icon {
  float: right;
}
.counter {
  margin-top: 10px;
  float:right;
}

button, input{
  float:left;
} 