.new-tweet {
  border: none;
  width: 100%;
  margin-top: 50px;
}

.hidden {
  display: none; 
  color:red;
  font-family: bungee;
}

.container {
  margin: auto;
}

body {
  background-color: #ede0d4;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
  border-bottom: 5px solid grey;
  border-style: none;
  outline:none;
  background-color: white;

}

#incoming-tweet {
  display: block;
}

#tweet-button {
  font-family: Bungee;
  background-color: #283618;
  color: aliceblue;
  margin-top: 10px;
}

#notification {
  border-color: red
}

.counter {
  margin-top: 10px;
  float:right;
  font-family: bungee;
}

button, input{
  float:left;
} 